
.form{
	background-color: rgba(255,255,255,0.13);
	position: absolute;
	transform: translate(-50%,-50%);
	top: 55%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px 5px;
}
.input
{
	display:block;
	display: flex;
	height: 4em;
	width: 30em;
	background-color: rgba(255,255,255,0.07);
	border-radius: 3px;
	padding: 0px 3%;
	margin-top: 5%;
    font-size: 88%;
    margin-left:30px; 
    
}

::placeholder{
	color: black;
}
button
{
	width: 86%;
	background-color: #ffffff;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
    cursor: pointer;
    margin-left:30px;

}
h6{
   margin-left:30px; 
}

legend{
    margin-left:250px;   
}
form *{
	font-family: 'Poppins',sans-serif;
	color: #1b0d0d;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}


#click{
	width: 86%;
	background-color: #ffffff;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
    cursor: pointer;
    margin-left:30px;
	padding: 15px 200px;
}
